---
import { FACEBOOK_URL, GITHUB_URL, SITE_TITLE, TWITTER_URL, SELF_FULLNAME, SELF_NAME, SELF_USERNAME, SELF_ROLE } from "../consts";
import Layout from "../layouts/Layout.astro";

const socialMedia = [
	{
		link: GITHUB_URL,
		icon: "i-myna-brand-github",
		name: "Github",
	},
	{
		link: FACEBOOK_URL,
		icon: "i-myna-brand-facebook",
		name: "Facebook",
	},
	{
		link: TWITTER_URL,
		icon: "i-myna-brand-x",
		name: "Twitter",
	},
];
---

<Layout
	title=`${SITE_TITLE}`
	description=`${SELF_FULLNAME}, a ${SELF_ROLE}, technology is my passion and dreaming about a better world with it and making it happen is a dream come true. I am generally into web dev things but over the past few month I have begun learning about backend development if you are interested, you can visit my projects here. Ouside coding, I often spend my time playing some non-serious games, watching animes and reading manga if you have any recommendations please don't hesitate to suggest them. I live in Magetan, East Java so in case you're around don't hesitate to contact me, perhaps we'll grab some coffee or do some collaboration.``>
	<div class="flex items-center justify-center min-h-70vh p-12">
		<div class="w-full grid gap-3 max-w-xl slide-enter-content">
			<h1 class="dark:text-#e5e7eb text-4xl font-bold item">
				{SELF_NAME}<span class="text-sm font-normal opacity-75 ml-1">or <span class="bold underline">{SELF_USERNAME}</span></span>
			</h1>
			<div>
				<p>Hi, I am {SELF_FULLNAME}</p>
				<p>Currently a {SELF_ROLE}.</p>
			</div>
			<p>
				Technology is my passion and dreaming about a better world with it and making it happen is a dream come true. I am generally into web
				dev things but over the past few month I have begun learning about backend development if you are interested, you can visit my <a
					href="/projects"
					class="font-bold underline">projects here</a
				>.
			</p>
			<p>
				Ouside coding, I often spend my time playing some non-serious games, watching animes and reading manga if you have any recommendations
				please don't hesitate to suggest them. I live in Sleman, Yogyakarta. so in case you're around don't hesitate to contact me, perhaps
				we'll grab some coffee or do some collaboration.
			</p>
			<div class="w-20 h-1px bg-gray opacity-50 mx-auto mt-2"></div>
			<div class="text-sm">
				<p>Find me on</p>
				<div class="flex items-start justify-start gap-4 mt-2">
					{
						socialMedia.map((url) => (
							<a
								href={url.link}
								class="btn-normal flex items-center justify-center gap-2 transition-all duration-300 ease-in-out hover:(opacity-100 bg-#8882) opacity-90"
								target="_blank"
								rel="external nofollow noopener noreferrer">
								<span class:list={[url.icon, "inline-block", "w-4", "h-4"]} />
								{url.name}
							</a>
						))
					}
				</div>
			</div>
		</div>
	</div>
</Layout>
